h3{
  background-color: #D3D1D1
}
header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}
body{
    background-image: url("reise.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
  }

  li {
      float: left;
  }

  li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }

  /* Change the link color to #111 (black) on hover */
  li a:hover {
      background-color: #111;
  }

}
/* Style the header links */
header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}
.carousel-inner {
  position: relative;
  right: 1000px;
    /*text-align: center;
    border: 3px solid green; */
}

.carousel-item{
  position: relative;
  margin-right: 1000px;
